a.ligne-recherche {
  font-family: Arial,Helvetica,Verdana,sans-serif;
  color: #444444;
}

#resultat_recherche{
    .margin_hauteur(15px);
    .margin_cote(5px);
    width: @w_main_page - 275px;
    padding: 5px;
    border: @border_div1;
    background: #fff;
    color: #777;
    box-shadow: 0 0 0 2px #fff inset;
    min-height: @height_mainPage - 100px;
}
#resultat_recherche > table{
  width:100%;
  font-family: Arial,Helvetica,Verdana,sans-serif;

  border-collapse:collapse;
}
#resultat_recherche > .title_tab{
  font-size: 15px;
  padding-left: 4px;
}
#resultat_recherche caption{
  background-color:#C0D1DE;
  color: #444444;
  .padding_hauteur(6px);
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  border-radius: 2px;
}
#resultat_recherche tr, #resultat_recherche td{
  .padding_cote(5px);
  .padding_hauteur(3px);
  color: #444444;
  font-size: 0.94em;
    
}
#resultat_recherche tr:hover{
  background-color:#EBEBEB;
  border-radius: 2px;
}
#resultat_recherche td.checkbox{
  text-align: center;
}
#resultat_recherche a.action-tab{
  text-decoration: none;
  color: #444444;
  font-size: 14px;
}
#resultat_recherche a.action-tab >i{
  padding: 0;
  margin: 0;
}
#resultat_recherche a.action-tab > i.icon-trash:hover{
  color:red;
}
#resultat_recherche a.action-tab > i.icon-pencil:hover{
  color:green;
}
#resultat_recherche .action-tab > i{
  .padding_cote(2px);
}
#resultat_recherche th{
  background-color:#A8ADB3;
  color: #FFF;
  border-left: 1px solid #BAC0C6;
  text-align: center;
  height: 22px;
}
#resultat_recherche tr{
  text-align:left;
}

.blue{
  background-color:#F6F6F6 ;
  color:#000;
}
#resultat_recherche > nav{
   text-align:center;
 }
 
.navig_result a, {
  color:#444444;
  padding:2px;
  text-decoration: none;
}
.navig_result a:hover{
 
  color: #000;
}
#resultat > p {
  margin-bottom: -5px;
  margin-left: 25px;
}
