#selection{
    .margin_hauteur(15px);
    .margin_cote(0px);
    width: 200px;
    //padding: 20px;
    min-height: 100px;
    float:right;
    padding:0;
}


#ajaxBox_loader {
  margin-left:57px;
}
.infos-disque{
  width: 200px;
  min-height: 100px;
  border: @border_div1;
  box-shadow: 0 0 0 2px #fff inset;
  background-color: #fff;
  color: #777;
  font-size: 0.9em;
}

#aff-disque{
  margin-left: -25px;
}
.infos-disque{
  table{
    width: 170px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    border-collapse:collapse;
    caption{
      font-size: 10px;
      .padding_hauteur(2px);
      background-color:#3A3A3A;
      color: #FFF;
      font-weight: bold;
      border-radius: 2px;
    }
    tr{
      margin-left: 0px;
      color:#000;
      text-indent: 0px;
    }
    tr.dark{
        background-color:#F6F6F6 ;
        color:#000;
    }
    tr:hover{
      background-color:#EBEBEB;
    }
    i{
      .padding_cote(2px);
    }
    td.icon{
      width:20px;
    }
    td.detail{
      width:150px;
    }
  }
}
